/* $Id */

.feedeo-list ul {
  list-style-type: none;
}
.feedeo-list li {
  display: inline;
  padding-right: 20px;
}
.feedeo-list img {
  cursor: pointer;
}
#bookmark-dialog {
  display: inline-block;
}

